:root {
  --color-primary: #4f54ba;
  --color-primary-hover: #3339af;
  --color-primary-light: #bdc0ff;
  --color-primary-light-hover: #9da2ff;

  --color-white: #ffffff;
  --color-gray-light: #eeeeee;
  --color-gray: #cccccc;
  --color-gray-dark: #777777;
  --color-dark: #262626;

  --color-success: #10d7a9;

  --color-error: #d53651;
}